* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}

.container {
    background-image: url("../imgs/backgroundimg.png");
    margin: auto;
    display: flex;
    align-items: center;
    height: 105vh;
    user-select: none;
    justify-content: center;
}

.piano {
    width: 75%;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgb(74, 115, 81);
    position: absolute;
}

.pianoelements {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    position: absolute;
    color: rgb(0, 0, 0);
    text-align: center;
}

button {
    cursor: pointer;
  
}

.elements {
    background-color: #E1E1E1;
    border-bottom: 0;
    color: black;
    width: 9%;
    height: 100%;
    padding: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bolder;
    border: 5px;
    border-style: solid;
    border-color: black;
}

/*Update this as its not all over the place */
h1 {
    justify-content: flex-start;
    padding: 300px;
    font: 48px;
    text-align: start;
}