* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 1.5em;
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    user-select: none;
    justify-content: center;
}
.piano {
    width: 75%;
    height: 50%;
    border-radius: 10px;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: grey ;
    position: relative;
}


.pianoelements {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    position: absolute;
    color: black;
}

button {
    cursor: pointer;
}

